{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>N Catalog</title>
{% endblock %}
{% block content %}
    <div class="d-flex" style="background-color: beige;">
      <img src="{% static 'assets/img/ncatalog.png' %}" alt="" height="60px" width="60px">
    </div>
    <div style="text-align: center;">
      <h5>Não deixe para amanhã o look que você pode comprar hoje.</h5>
    </div>
  {% include "partials/_alertas.html"%}
  <!-- <a href="{% url 'criar_item' %}" class="btn btn-primary">Criar itens</a> -->
  {% include 'partials/_cards.html' %}
    <!--Footer Início-->  
  {% include 'partials/_footer.html' %}
  <!--Footer Fim-->  
{% endblock %}